button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.Dashboard {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -100%;
  background: white;
  transition: transform 0.5s ease-in-out;

  display: flex;

  border: 2px black solid;

  .SidePanel {
    flex: 0 1.5 320px;
    display: flex;
    flex-direction: column;

    padding: 20px;

    background-color: #f8f8f8;

    .BackButton {
      transition: all 0.5s;
      height: 40px;
      text-align: left;

      .Icon {
        font-size: large;
        transition: none;
      }

      .Text {
        margin-left: 2px;
        font-size: small;
        font-weight: 700;
      }

      &:hover {
        transform: scaleX(1.15);
        transform-origin: left;
      }
    }

    .Menu {
      margin-top: 20px;
      overflow: visible;

      li {
        padding-top: 10px;
        padding-bottom: 10px;
        list-style-type: none;
        font-size: large;
        transition: all 0.3s;

        &:hover {
          transform: translateX(10px);
          transform-origin: left;
        }
      }

      li:not(.highlighted) {
        opacity: 0.3; // Only apply to non-highlighted items
      }

      li.highlighted {
        opacity: 1; // Ensure highlighted items are fully visible
      }
    }

    .SignOutButton {
      margin-top: auto;
      width: fit-content;
      font-style: italic;
      font-size: small;
      transition: all 0.5s;

      &:hover {
        transform: scale(1.4);
        transform-origin: left;
        font-weight: bold;
      }
    }
  }

  .Page {
    flex: 4;
  }
}

.active {
  transform: translateX(100%);
}

/* You Page */
.Page {
  padding: 30px;

  .You {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    img {
      margin-top: 35px;
      align-self: center;
      border-radius: 50%;
    }

    p:first-of-type {
      margin-top: 60px;
    }

    p {
      padding-left: 15px;
      margin-top: 10px;
    }

    button {
      font-weight: bold;
      font-style: italic;
      border: 2px solid black;
      border-radius: 25px;
      width: fit-content;
      padding: 3px 10px 3px 10px;

      margin-top: auto;
      align-self: flex-end;
    }
  }

  .Orders {
    height: 100%;
    width: 100%;

    ul {
      padding: 0;
    }

    li {
      border: 2px solid black;
      margin: 40px;
      padding: 15px 0px 10px 15px;

      b {
        font-weight: 660;
      }

      p {
        margin-bottom: 5px;
      }
    }
  }
}
