/* Design */

.Home {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  background-color: #ffe9d9;

  .AuthButtonContainer {
    position: absolute; // Absolute positioning within a relative parent
    top: 5%;
    left: 5%;
    width: auto; // Auto width to adjust based on content
    height: auto; // Auto height to adjust based on content

    /* Overlapping button positioning using visibility for conditional rendering */
    .GoogleSignInButton {
      position: absolute; // Position buttons absolutely within their container
      top: 0;
      left: 0;
    }

    .OpenDashboardButton {
      position: absolute; // Position buttons absolutely within their container
      top: 0;
      left: 0;
    }
  }

  .Logo {
    /* Posititioning */
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1.1);

    /* font and color */
    font-size: 96px;
    font-weight: 100;
    white-space: nowrap;
    color: transparent;
    background: linear-gradient(to right, #816774 0%, #F64A4A 100%);
    background-clip: text;
  }

  .SearchBar {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// Pseudo classes

.hidden {
  visibility: hidden;
}
