/* Design */

.Home {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  background-color: #ffe9d9;

  .AuthButtonContainer {
    position: absolute; // Absolute positioning within a relative parent
    top: 40px;
    left: 50px;
    width: auto; // Auto width to adjust based on content
    height: auto; // Auto height to adjust based on content
    background-color: rgba(
      255,
      255,
      255,
      0.5
    ); // Semi-transparent background to enhance glow visibility

    overflow: visible;

    /* Overlapping button positioning using visibility for conditional rendering */
    .GoogleSignInButton {
      position: absolute; // Position buttons absolutely within their container
      top: 0;
      left: 0;
    }

    .OpenDashboardButton {
      position: absolute;
      top: 0;
      left: 0;

      /* styling */
      background-color: #fff;
      border: 2px solid #422800;
      border-radius: 30px;
      box-shadow: #422800 -5px 5px 0 0;
      white-space: nowrap;
      padding: 5px 10px 5px 10px;

      transition: all 0.07s;

      &:active {
        box-shadow: #422800 -1px 1px 0 0;
        transform: translate(-3px, 3px);
      }
    }
  }

  .Logo {
    /* Posititioning */
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1.1);

    /* font and color */
    font-size: 72px;
    font-weight: 100;
    white-space: nowrap;
    color: transparent;
    background: linear-gradient(to right, #816774 0%, #f64a4a 100%);
    background-clip: text;
  }

  .SearchBar {
    /* Positioning */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Display */
    display: flex;
    width: 400px;

    /* Styling */
    padding: 6px 2px 6px 10px;
    background-color: white;

    box-shadow:
      inset 2px 2px 4px rgba(0, 0, 0, 0.25) /* Top and right shadow */,
      inset -2px 2px 4px rgba(0, 0, 0, 0.25); /* Top and left shadow */

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;

      .input,
      .button {
        pointer-events: none; // Comment out for testing cursor visibility
      }
    }

    .input {
      flex: 1;
      border: 0;
      text-align: center;

      &:focus {
        outline: none;
      }
    }

    .button {
      background-size: 60%;
      width: 40px;
      background-color: transparent;
      border: 0;
      transition: all 0.3s;
      overflow: visible;

      &:focus {
        outline: none;
      }

      &:hover {
        transform-origin: center;
        text-shadow:
          0px 0px 20px rgb(255, 255, 0),
          0px 0px 20px rgb(255, 255, 0),
          0px 0px 20px rgb(255, 255, 0),
          0px 0px 25px rgb(255, 255, 0),
          0px 0px 30px rgb(255, 255, 0),
          0px 0px 35px rgb(255, 255, 0);
      }

      &:active {
        transform-origin: center;
        text-shadow:
          0px 0px 20px rgb(255, 115, 0),
          0px 0px 20px rgb(255, 115, 0),
          0px 0px 20px rgb(255, 115, 0),
          0px 0px 25px rgb(255, 115, 0),
          0px 0px 30px rgb(255, 115, 0),
          0px 0px 35px rgb(255, 115, 0);
      }
    }
  }
}

// Pseudo classes

.hidden {
  visibility: hidden;
}
